{% extends "base.html" %}
{% block title %}Ganti kata sandi{% endblock %}
{% block content %}
<h1>Ganti kata sandi</h1>
<p class="sub">Minimal 12 karakter dan tidak boleh mudah ditebak.</p>
<div class="card" style="max-width:480px">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% for err in field.errors %}<p class="msg error">{{ err }}</p>{% endfor %}
    {% endfor %}
    <p></p>
    <button class="btn" type="submit">Simpan</button>
  </form>
</div>
{% endblock %}
